<!DOCTYPE html>
<html>
  <head>
    <title>BlueBird</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %> 
    <script>
      window.currentUser = {
        'id': <%= current_user.id %>, 
        'username': "<%= current_user.username %>", 
        'email': "<%= current_user.email %>",
      };
    </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
