<%= tweet.content %>
-- <a href="<%= user_url(tweet.user.id) %>"><%= tweet.user.username %></a>
-- <%= tweet.created_at %>

<% if tweet.mentioned_users.length > 0 %>
  <ul>
    <% tweet.mentioned_users.each do |mentioned_user| %>
      <li><a href="<%= user_url(mentioned_user) %>"><%= mentioned_user.username %></a></li>
    <% end %>
  </ul>
<% end %>
