<% completed_input_value = goal.completed? ? 'false' : 'true' %>
<% submit_button_value = goal.completed? ? 'Oops! Did not complete' : 'Complete' %>

<ul>
  <li>
    <%= link_to goal.title , goal_url(goal) %>
    <p><i> <%= goal.visible? ? 'Public' : 'Private' %></i></p> 
    <p><i> <%= goal.completed? ? 'Completed' : 'Ongoing' %></i></p>
    <%= button_to 'Delete Goal', goal_url(goal), method: :delete %>
    <%= render 'shared/goal_complete_button', goal: goal %>
  </li>
</ul>


