<% completed_input_value = goal.completed? ? 'false' : 'true' %>
<% submit_button_value = goal.completed? ? 'Oops! Did not complete' : 'Complete' %>

<ul>
  <li>
    <%= link_to goal.title , goal_url(goal) %>
    <p><i> <%= goal.visible? ? 'Public' : 'Private' %></i></p> 
    <p><i> <%= goal.completed ? 'Completed' : 'Ongoing' %></i></p>
    <%= button_to 'Delete Goal', goal_url(goal), method: :delete %>
    <form action="<%= goal_url(goal)%>" method="post">
      <input type="hidden" name="_method" value='PATCH'> 
      <input type="hidden" 
             name="authenticity_token"
             value="<%= form_authenticity_token %>"> 
      <input type="hidden" name="goal[completed]" value="<%= completed_input_value%>">
      
      <input type="submit" value="<%= submit_button_value%>">
    </form>
  </li>
</ul>


