<!DOCTYPE html>
<html>
  <head>
    <title>AjaxTwitter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript"> 
      window.users = <%= render("users/users.json.jbuilder", users: User.all).html_safe %>
    </script>
  </head>

  <body>
    <ul>
      <li><a href="<%= feed_url %>">Feed</a></li>
      <li><a href="<%= search_users_url %>">User Search</a></li>
    </ul>

    <% if current_user %>
      <form action="/session" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

        <input type="submit" value="Logout!">
      </form>
    <% end %>
    
    <%= yield %>
  </body>
</html>
