<h2>Welcome to <%= @album.band.name %>'s <%= @album.title %> album</h2>

<%= link_to @album.band.name, band_url(@album.band_id), class: 'band-link' %>
<%= button_to 'Edit Album', edit_album_url(@album.id), method: :get, class: 'album-button' %>
<%= button_to 'Delete Album', album_url(@album), method: :delete, class: 'album-button' %>