<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1>Music App</h1>
  <% if logged_in? %> 
    <%= button_to "Sign out", session_url, method: :delete, class: 'button' %> 
  <% else %>
    <%= link_to "Sign up", new_user_url %>
    <%= link_to "Sign in", new_session_url %>
  <% end %>
  <main>
    <%= yield %>
  </main>
  </body>
</html>
