<form action="<%= comments_url %>" method="POST">
  <%= render '/shared/errors' %>
  
  <input type="hidden" 
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[post_id]" value="<%= comment.post_id %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= comment.parent_comment_id %>">

  <label for="comment_content"></label>
  <textarea name="comment[content]" id="comment_content" ><%= comment.content %></textarea>

  <input type="submit" value="Submit Post">

</form>