<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <%= button_to "Sign out", session_url, method: :delete, class: 'sign-out-button' %>
    <% else %> 
      <li><%= link_to "Sign up", new_user_url %></li>
      <li><%= link_to "Sign in", new_session_url %></li>
    <% end %>
    <main>
    <%= yield %>
    </main>
  </body>
</html>
