<h1>Edit a cat</h1>

<%= render 'form', cat: @cat, action: :edit %>

<!-- <h1>Edit a cat</h1>

<form action="<%=cat_url(@cat) %>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]" value = "<%= @cat[:name] %>">
  
  <br>

  <label for="gender">Please select gender of cat</label>
  <input type="radio" name="cat[sex]" id="gender" value="M" <%= @cat[:sex] == "M" ? "checked" : "" %>>Male 
  <input type="radio" name="cat[sex]" id="gender" value="F" <%= @cat[:sex] == "F" ? "checked" : "" %>>Female

  <br>

  <label for="color">Please select color</label>
  <select name="cat[color]" id="color" value = "<%= @cat[:color] %>">
    <option selected><%= @cat[:color] %></option>
    <%Cat::COLORS.each do |cat_color| %>
      <option value = "<%= cat_color %>"><%= cat_color %></option>
    <% end %>
  </select>

  <br>

  <label for="birthdate">Please select your birthday</label>
  <input type="date" name="cat[birth_date]" id="birthdate" value= "<%= @cat[:birth_date] %>">
  
  <br>

  <label for="textarea">Please type a description here</label><br> 
  <textarea name="cat[description]" id="textarea"><%= @cat[:description] %></textarea>
  
  <br>

  <input type="submit" value="Update Cat">
</form> -->