<table border="1">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Sex</th>
      <th>Birthday</th>
      <th>Color</th>
      <th>Description</th>
    </tr>
      <td><%= @cat.name %></td>
      <td><%= @cat.age %></td>
      <td><%= @cat.sex %></td>
      <td><%= @cat.birth_date %></td>
      <td><%= @cat.color %></td>
      <td><%= @cat.description %></td>
</table>
